*{
    margin:0px ;
    padding: 0px;
}

.maindiv{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 35px;
    background-image: linear-gradient(to bottom right, rgb(242, 123, 123), rgb(241, 138, 198)) ;
    
}
.box{
    border: 1px solid black;
    background-color: rgb(16, 15, 15);
    border-radius: 4px;
    height: 170px;
    width: 170px;
    display: flex;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
   
}

div > h1{
    color: white;
     padding-left:50px ; 
    padding-top: 45px;
    font-size: 65px;
   
}
.seconddiv{
    height: 50px;
    width: 50%;
    border: 1px solid black;

}

